# Dependencias
node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de entorno
.env

# Archivos de construcción
dist/
build/

# Directorios del editor
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
